.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background: rgb(216, 207, 207);
  width:150%;
  height: 100%;
}

h3{ color: rgb(129, 7, 243);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





